body{
    position: relative;
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
}
*{
     font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    z-index: 2;
}
h1,h2{
    font-weight: 800;
}
main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-info{
    width: 60%;
    height: 130px;
    color: black ;
    border-radius: 10px;
    cursor: pointer;
    padding: 40px;
    background: transparent;
    transition:  all 1s !important;
    user-select: none;
}
.about{
    background:linear-gradient(to right, lightseagreen, lime) ;
    
}
.skills{
    background:linear-gradient(to right, yellow, red) ;
   
}
.proyects{
    background:linear-gradient(to right, purple, chocolate) ;
   
}
.contact{
    color: aliceblue;
   background-color: black;
   display: flex ;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
}
.container-info:hover{
    transition:  all 1s !important;
    filter: invert(1);
}
.info{
    border-top: none;
    width: 60%;
    height: 1px;
    color: black ;
    margin-top: -6px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 40px;
    user-select: none;
    overflow-y: auto;
}
.info_about{
    width: 100%;
}
.info_about,.info_proyects,.info_skills,.info_contact{
    animation: aparecer 0.5s   forwards;
}

footer{
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}
h6{
    position: absolute;
    bottom: 0;
}
@keyframes aparecer {
    from{
      overflow: hidden;
      height: 1px;
    }
    to{
        overflow: hidden;
        width: 60%;
        height: auto;
    }
}
@media screen and (max-width:1054px) {
    .container-info{
        width: 90%;
        display: block;;
        flex-wrap: nowrap !important;
        overflow-x: auto ;
    }
    .info{
        width: 1200%;
    }
    .container-contacto{
        width: 90% !important; 
       
    }
   
}
@keyframes aparecer2 {
    from{
      overflow: hidden;
      height: 1px;
    }
    to{
        overflow: hidden;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:600px) {
    .info{
        animation: aparecer2 0.5s  ease-in-out forwards !important;
    }
}

